In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('data.csv')
data

   days    domdf    fordf  10dput  25dput  50dcall  25dcall  10dcall
0     7  0.99962  0.99923   20.80   20.20     20.0    20.40    21.60
1    14  0.99922  0.99845   21.32   20.71     20.5    20.91    22.14
2    21  0.99882  0.99766   21.84   21.21     21.0    21.42    22.68
3    28  0.99841  0.99685   22.36   21.72     21.5    21.93    23.22
4    59  0.99655  0.99322   23.40   22.73     22.5    22.95    24.30
5    89  0.99466  0.98959   24.96   24.24     24.0    24.48    25.92
6   181  0.98866  0.97818   26.00   25.25     25.0    25.50    27.00
7   365  0.97579  0.95432   27.04   26.26     26.0    26.52    28.08
8   546  0.96138  0.92864   29.12   28.28     28.0    28.56    30.24
9   730  0.94457  0.89984   31.20   30.30     30.0    30.60    32.40

In [14]:
days, domdf, fordf = data['days'], data['domdf'], data['fordf']
vols = data[['10dput', '25dput', '50dcall', '25dcall', '10dcall']] / 100

In [11]:
cps = [-1, -1, 1, 1, 1]
deltas = [0.1, 0.25, 0.5, 0.25, 0.1]